/* ===============================
   Success Alert
   =============================== */
.alert-success {
    border: none;
    border-radius: 10px;
    background: #e8f6ee;
    color: #0b6b3a;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    font-weight: 500;
}

/* ===============================
   Info Banner (HARTI)
   =============================== */
.alert-info {
    border: none;
    border-radius: 8px;
    background: #e6ece6;
    color: #042a0b;
    padding: 14px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}
.alert-info::before {
    /* content: "ℹ️"; */
    font-size: 1.1rem;
}
/* Form Control Styling*/

.form-control {
    background-color: #f6f3f3c6 !important;
    /* border: 1px solid #a8bfa8; */
    color: #042a0b;
}

.form-control:focus {
    background-color: #e6ece6 !important;
    /* border-color: #076d38; */
    box-shadow: 0 0 0 0.15rem rgba(7, 109, 56, 0.25);
    color: #042a0b;
}



/* Flock Details Card & Table*/
.card {
    border: none;
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.05);
}

/* Table base */
.card table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
}

/* Reset Bootstrap th background */
.card table th {
    font-weight: 600;
    background-color: transparent !important;
    color: #04440e;
    padding: 12px;
    border: none;
}

/* td styles */
.card table td {
    padding: 12px;
    border: none;
}

/* Same background color for entire even row */
.card table tr:nth-child(even) th,
.card table tr:nth-child(even) td {
    background-color: #fafafa !important;
}

/* ===============================
   Button Styling
   =============================== */
.btn-success {
    border-radius: 7px;
    padding: 0.6rem 1.2rem;
    font-weight: 400;
    transition: all 0.2s ease;
    background-color: #0b3b12c1;
}
.btn-success:hover {
    transform: translateY(-1px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
